body {
    background-image: url(../img/img5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1800px;
}

h1 {
    color: pink;
}

navbar {
    background-color: white;
    opacity: 5.;
}

nav {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: .9;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    color: #25a01f;
    letter-spacing: .2em;
}

.title {
    text-align: center;
    padding: 25em 5em;
}

h1 {
    font-size: 7em;
    color: white;
    letter-spacing: .5em;
    margin-bottom: .5em;
}

article {
    background-color: white;
    opacity: .9;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}